# Hip hop over time

Billboard has a "R and B / Hip Hop" list, which is a little absurd because the genres aren't *quite* the same. Let's track the changes over the years.

And let's get this out of the way now: **every time you make a vectorizer**, you'll want to ask yourself a few questions.

* What kind of vectorizer do you need? CountVectorizer? TfIdf?
* If TdIfd, do you use use_idf=True or use_idf=False?
* Does your vectorizer require a certain vocabulary?
* Do you care about multiple words ("he said" vs. "she said")? If so, do you need to do something special so it pays attention to that?
* Should you lemmatize/stem when you're processing?

# Reading in the files

## Getting a list of every file we'll want to read in

In [1]:
import glob
filenames = glob.glob('hip-hop/*/*')
filenames[:5]

['hip-hop/1965/a-change-is-gonna-come-sam-cooke',
 'hip-hop/1965/a-lovers-concerto-the-toys',
 'hip-hop/1965/a-woman-can-change-a-man-joe-tex',
 'hip-hop/1965/a-womans-love-carla-thomas',
 'hip-hop/1965/aint-that-peculiar-marvin-gaye']

## Reading in the files using a list comprehension

In [2]:
contents = [open(filename).read() for filename in filenames]
len(contents)

7458

## Use the filenames and the contents to build a dataframe

In [3]:
import pandas as pd

df = pd.DataFrame({
    'lyrics': contents,
    'filename': filenames
})
df.head()

,filename,lyrics
0,hip-hop/1965/a-change-is-gonna-come-sam-cooke,[Verse 1]\nI was born by the river\nIn a littl...
1,hip-hop/1965/a-lovers-concerto-the-toys,How gentle is the rain\nThat falls softly on t...
2,hip-hop/1965/a-woman-can-change-a-man-joe-tex,A man can say what he won't do\nBut if she rea...
3,hip-hop/1965/a-womans-love-carla-thomas,When I ask you where you've been\nDon't get an...
4,hip-hop/1965/aint-that-peculiar-marvin-gaye,[Verse 1]\nHoney you do me wrong but still I'm...

## Extract the year into a different column

In [4]:
# expand=False just gets rid of a warning
df['year'] = df.filename.str.extract('hip-hop/(\d*)/', expand=False)
df.head(2)

,filename,lyrics,year
0,hip-hop/1965/a-change-is-gonna-come-sam-cooke,[Verse 1]\nI was born by the river\nIn a littl...,1965
1,hip-hop/1965/a-lovers-concerto-the-toys,How gentle is the rain\nThat falls softly on t...,1965

## Use the year to create a datetime column

Even though it's a lie, because the billboard charts are weekly. I just didn't save that information!

In [5]:
df['datetime'] = pd.to_datetime(df['year'], format="%Y")
df.head(2)

,filename,lyrics,year,datetime
0,hip-hop/1965/a-change-is-gonna-come-sam-cooke,[Verse 1]\nI was born by the river\nIn a littl...,1965,1965-01-01
1,hip-hop/1965/a-lovers-concerto-the-toys,How gentle is the rain\nThat falls softly on t...,1965,1965-01-01

## Extract the artist and song name into another column

In [21]:
df['title-artist'] = df.filename.str.extract('hip-hop/\d*/(.*)', expand=False)
df.head(2)

,filename,lyrics,year,title-artist,datetime
0,hip-hop/1965/a-change-is-gonna-come-sam-cooke,[Verse 1]\nI was born by the river\nIn a littl...,1965,a-change-is-gonna-come-sam-cooke,1965-01-01
1,hip-hop/1965/a-lovers-concerto-the-toys,How gentle is the rain\nThat falls softly on t...,1965,a-lovers-concerto-the-toys,1965-01-01

## Cleaning up a little more

Let's get rid of things like `"[Verse 1]"` while we're at it.

In [25]:
df['lyrics'] = df['lyrics'].replace("\[.*?\]", "", regex=True).str.strip()
df.head(2)

,filename,lyrics,year,title-artist,datetime
0,hip-hop/1965/a-change-is-gonna-come-sam-cooke,I was born by the river\nIn a little tent\nAnd...,1965,a-change-is-gonna-come-sam-cooke,1965-01-01
1,hip-hop/1965/a-lovers-concerto-the-toys,How gentle is the rain\nThat falls softly on t...,1965,a-lovers-concerto-the-toys,1965-01-01

**OKAY!** We did it. We're done. it's clean. Let's get down to business.

# Text analysis

What do you want to do?